:root {
    --background: oklch(0.9771 0.0074 80.7212);
    --foreground: oklch(0.3348 0.0178 67.1570);
    --card: oklch(0.9568 0.0119 79.7842);
    --card-foreground: oklch(0.3348 0.0178 67.1570);
    --popover: oklch(0.9771 0.0074 80.7212);
    --popover-foreground: oklch(0.3348 0.0178 67.1570);
    --primary: oklch(0.5265 0.1151 44.6044);
    --primary-foreground: oklch(0.9771 0.0074 80.7212);
    --secondary: oklch(0.9103 0.0161 73.6717);
    --secondary-foreground: oklch(0.3348 0.0178 67.1570);
    --muted: oklch(0.9103 0.0161 73.6717);
    --muted-foreground: oklch(0.5 0.05 67.1570);
    --accent: oklch(0.66367 0.08520 135.84);
    --accent-foreground: oklch(0.9771 0.0074 80.7212);
    --destructive: oklch(0.6154 0.1442 22.2284);
    --destructive-foreground: oklch(0.9771 0.0074 80.7212);
    --border: oklch(0.8282 0.0327 73.4696);
    --input: oklch(0.8282 0.0327 73.4696);
    --ring: oklch(0.5265 0.1151 44.6044);
    --chart-1: oklch(0.5265 0.1151 44.6044);
    --chart-2: oklch(0.7541 0.0853 67.1037);
    --chart-3: oklch(0.6067 0.0852 135.8436);
    --chart-4: oklch(0.6521 0.1322 81.5716);
    --chart-5: oklch(0.6154 0.1442 22.2284);
    --sidebar: oklch(0.9568 0.0119 79.7842);
    --sidebar-foreground: oklch(0.3348 0.0178 67.1570);
    --sidebar-primary: oklch(0.5265 0.1151 44.6044);
    --sidebar-primary-foreground: oklch(0.9771 0.0074 80.7212);
    --sidebar-accent: oklch(0.9103 0.0161 73.6717);
    --sidebar-accent-foreground: oklch(0.3348 0.0178 67.1570);
    --sidebar-border: oklch(0.8282 0.0327 73.4696);
    --sidebar-ring: oklch(0.5265 0.1151 44.6044);
    --header: oklch(0.9771 0.0074 80.7212);
    --header-foreground: oklch(0.3348 0.0178 67.1570);
    --footer: oklch(0.9771 0.0074 80.7212);
    --footer-foreground: oklch(0.3348 0.0178 67.1570);
    --code: oklch(0.9771 0.0074 80.7212);
    --code-foreground: oklch(0.5265 0.1151 44.6044);
    --code-highlight: oklch(0.9568 0.0119 79.7842);
    --code-number: oklch(0.6521 0.1322 81.5716);
    --code-selection: oklch(0.8282 0.0327 73.4696);
    --code-border: oklch(0.8282 0.0327 73.4696);
    --radius: 0.35rem;
}

.dark {
    --background: oklch(0.2035 0.0101 67.2101);
    --foreground: oklch(0.8983 0.0322 82.7636);
    --card: oklch(0.2432 0.0120 67.2100);
    --card-foreground: oklch(0.8983 0.0322 82.7636);
    --popover: oklch(0.2432 0.0120 67.2100);
    --popover-foreground: oklch(0.8983 0.0322 82.7636);
    --primary: oklch(0.7021 0.1363 37.4084);
    --primary-foreground: oklch(0.2035 0.0101 67.2101);
    --secondary: oklch(0.2682 0.0118 67.2908);
    --secondary-foreground: oklch(0.8983 0.0322 82.7636);
    --muted: oklch(0.2682 0.0118 67.2908);
    --muted-foreground: oklch(0.7 0.03 82.7636);
    --accent: oklch(0.80482 0.03823 130.83);
    --accent-foreground: oklch(0.2035 0.0101 67.2101);
    --destructive: oklch(0.7021 0.1363 37.4084);
    --destructive-foreground: oklch(0.2035 0.0101 67.2101);
    --border: oklch(0.3348 0.0178 67.1570);
    --input: oklch(0.3348 0.0178 67.1570);
    --ring: oklch(0.7021 0.1363 37.4084);
    --chart-1: oklch(0.7021 0.1363 37.4084);
    --chart-2: oklch(0.7541 0.0853 67.1037);
    --chart-3: oklch(0.7273 0.0595 130.8295);
    --chart-4: oklch(0.6625 0.0728 49.4218);
    --chart-5: oklch(0.6636 0.1038 41.5499);
    --sidebar: oklch(0.2432 0.0120 67.2100);
    --sidebar-foreground: oklch(0.8983 0.0322 82.7636);
    --sidebar-primary: oklch(0.7021 0.1363 37.4084);
    --sidebar-primary-foreground: oklch(0.2035 0.0101 67.2101);
    --sidebar-accent: oklch(0.2682 0.0118 67.2908);
    --sidebar-accent-foreground: oklch(0.8983 0.0322 82.7636);
    --sidebar-border: oklch(0.3348 0.0178 67.1570);
    --sidebar-ring: oklch(0.7021 0.1363 37.4084);
    --header: oklch(0.2035 0.0101 67.2101);
    --header-foreground: oklch(0.8983 0.0322 82.7636);
    --footer: oklch(0.2035 0.0101 67.2101);
    --footer-foreground: oklch(0.8983 0.0322 82.7636);
    --code: oklch(0.2035 0.0101 67.2101);
    --code-foreground: oklch(0.8983 0.0322 82.7636);
    --code-highlight: oklch(0.2432 0.0120 67.2100);
    --code-number: oklch(0.7541 0.0853 67.1037);
    --code-selection: oklch(0.3348 0.0178 67.1570);
    --code-border: oklch(0.3348 0.0178 67.1570);
    --radius: 0.35rem;
}