:root {
    --background: oklch(0.99 0.01 67.74);
    --foreground: oklch(0.34 0.01 7.89);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.34 0.01 7.89);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.34 0.01 7.89);
    --primary: oklch(0.74 0.16 34.57);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.96 0.02 28.97);
    --secondary-foreground: oklch(0.56 0.13 32.65);
    --muted: oklch(0.97 0.02 44.86);
    --muted-foreground: oklch(0.49 0.05 27.86);
    --accent: oklch(0.83 0.11 57.89);
    --accent-foreground: oklch(0.34 0.01 7.89);
    --destructive: oklch(0.61 0.21 22.21);
    --border: oklch(0.93 0.04 40.57);
    --input: oklch(0.93 0.04 40.57);
    --ring: oklch(0.74 0.16 34.57);
    --chart-1: oklch(0.74 0.16 34.57);
    --chart-2: oklch(0.83 0.11 57.89);
    --chart-3: oklch(0.88 0.08 56.41);
    --chart-4: oklch(0.82 0.11 41.27);
    --chart-5: oklch(0.64 0.13 32.06);
    --sidebar: oklch(0.97 0.02 44.86);
    --sidebar-foreground: oklch(0.34 0.01 7.89);
    --sidebar-primary: oklch(0.74 0.16 34.57);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.83 0.11 57.89);
    --sidebar-accent-foreground: oklch(0.34 0.01 7.89);
    --sidebar-border: oklch(0.93 0.04 40.57);
    --sidebar-ring: oklch(0.74 0.16 34.57);

    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Ubuntu Mono, monospace;

    --radius: 0.625rem;

    --shadow-2xs: 0px 6px 12px -3px oklch(0.00 0 0 / 0.04);
    --shadow-xs: 0px 6px 12px -3px oklch(0.00 0 0 / 0.04);
    --shadow-sm: 0px 6px 12px -3px oklch(0.00 0 0 / 0.09), 0px 1px 2px -4px oklch(0.00 0 0 / 0.09);
    --shadow: 0px 6px 12px -3px oklch(0.00 0 0 / 0.09), 0px 1px 2px -4px oklch(0.00 0 0 / 0.09);
    --shadow-md: 0px 6px 12px -3px oklch(0.00 0 0 / 0.09), 0px 2px 4px -4px oklch(0.00 0 0 / 0.09);
    --shadow-lg: 0px 6px 12px -3px oklch(0.00 0 0 / 0.09), 0px 4px 6px -4px oklch(0.00 0 0 / 0.09);
    --shadow-xl: 0px 6px 12px -3px oklch(0.00 0 0 / 0.09), 0px 8px 10px -4px oklch(0.00 0 0 / 0.09);
    --shadow-2xl: 0px 6px 12px -3px oklch(0.00 0 0 / 0.22);

}

.dark {
    --background: oklch(0.26 0.02 351.79);
    --foreground: oklch(0.94 0.01 48.70);
    --card: oklch(0.32 0.02 339.89);
    --card-foreground: oklch(0.94 0.01 48.70);
    --popover: oklch(0.32 0.02 339.89);
    --popover-foreground: oklch(0.94 0.01 48.70);
    --primary: oklch(0.74 0.16 34.57);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.36 0.02 342.33);
    --secondary-foreground: oklch(0.94 0.01 48.70);
    --muted: oklch(0.32 0.02 339.89);
    --muted-foreground: oklch(0.84 0.02 50.14);
    --accent: oklch(0.83 0.11 57.89);
    --accent-foreground: oklch(0.26 0.02 351.79);
    --destructive: oklch(0.61 0.21 22.21);
    --border: oklch(0.36 0.02 342.33);
    --input: oklch(0.36 0.02 342.33);
    --ring: oklch(0.74 0.16 34.57);
    --chart-1: oklch(0.74 0.16 34.57);
    --chart-2: oklch(0.83 0.11 57.89);
    --chart-3: oklch(0.88 0.08 56.41);
    --chart-4: oklch(0.82 0.11 41.27);
    --chart-5: oklch(0.64 0.13 32.06);
    --sidebar: oklch(0.26 0.02 351.79);
    --sidebar-foreground: oklch(0.94 0.01 48.70);
    --sidebar-primary: oklch(0.74 0.16 34.57);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.83 0.11 57.89);
    --sidebar-accent-foreground: oklch(0.26 0.02 351.79);
    --sidebar-border: oklch(0.36 0.02 342.33);
    --sidebar-ring: oklch(0.74 0.16 34.57);

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}
